/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header-text {
    color: black;
    border-left: solid 2px;
    border-bottom: solid 2px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
}

.image {
    margin: 10px;
}

.image-text {
    opacity: 80;
    color: black;
    font-size: 25px;
    font-weight: 300;
}

.definition {
    opacity: 80;
    color: black;
    font-size: 20px;
    font-weight: 300;
}

.text-container {
    position: relative;
    text-align: center;
}

.total-image-text-container {
    position: absolute;
    left: 50%;
    bottom: -4%;
    transform: translate(-50%, -50%);
    width: 93.3%;
    background-color: gray;
    opacity: .8;
}

.total-image-text-container.elevated {
    position: absolute;
    left: 50%;
    bottom: -36%;
    height: 80%;
    transform: translate(-50%, -50%);
    width: 93.3%;
    background-color: gray;
    opacity: .8;
}

.footer {
    text-align: right;
    margin-right: 10px;
    margin-top: 15px;
}

#top-left {
    margin-left: 10px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}